force-app/main/default/flows/New_Patient_Intake.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>ConvertLead</name>
        <label>ConvertLead</label>
        <locationX>1233</locationX>
        <locationY>1313</locationY>
        <actionName>AutoConvertLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateOrder</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>AcctId</name>
            <value>
                <elementReference>OfficeNameReview.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ConId</name>
            <value>
                <elementReference>GetContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LeadId</name>
            <value>
                <elementReference>Kinomatic_Lead</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoConvertLead</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>LeadAssignment</name>
        <label>LeadAssignment</label>
        <locationX>241</locationX>
        <locationY>288</locationY>
        <actionName>AutoLeadAssignment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_Not_Interested_Lead</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>LeadId</name>
            <value>
                <elementReference>NotInterestedLead</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoLeadAssignment</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>LeadAssignment2</name>
        <label>LeadAssignment2</label>
        <locationX>378</locationX>
        <locationY>458</locationY>
        <actionName>AutoLeadAssignment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_Maybe_Lead</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>LeadId</name>
            <value>
                <elementReference>MaybeLead</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoLeadAssignment</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Maybe_Lead</name>
        <label>Navigate to Maybe Lead</label>
        <locationX>246</locationX>
        <locationY>458</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>MaybeLead</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Not_Interested_Lead</name>
        <label>Navigate to Not Interested Lead</label>
        <locationX>90</locationX>
        <locationY>288</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NotInterestedLead</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>navToContact</name>
        <label>navToContact</label>
        <locationX>1621</locationX>
        <locationY>1508</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Patient_w_o_CT_Order</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>navToCTOrder</name>
        <label>navToCTOrder</label>
        <locationX>1877</locationX>
        <locationY>1543</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CT_Order</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>navToMRIOrder</name>
        <label>navToMRIOrder</label>
        <locationX>2026</locationX>
        <locationY>1469</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>MRI_Order</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>navToUpdateContact</name>
        <label>navToUpdateContact</label>
        <locationX>1476</locationX>
        <locationY>1495</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Find_a_Match.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_records_into_Loop</name>
        <label>Add records into Loop</label>
        <locationX>250</locationX>
        <locationY>1078</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InsuranceCardLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttachInsuranceCardtoPTwCT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Records_into_Loop_1</name>
        <label>Add Records into Loop_1</label>
        <locationX>1943</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InsuranceCardLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttachInsuranceCardtoDupPT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Records_into_loop_2</name>
        <label>Add Records into loop</label>
        <locationX>1155</locationX>
        <locationY>1172</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InsuranceCardLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttachInsuranceCardtoPTw_oCT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_File_with_Patient</name>
        <label>Link File with Patient</label>
        <locationX>250</locationX>
        <locationY>941</locationY>
        <assignmentItems>
            <assignToReference>InsuranceCardLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AttachInsuranceCardtoPTwCT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceCardLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Patient_w_CT_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_records_into_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_File_with_Patient_1</name>
        <label>Link File with Patient_1</label>
        <locationX>1945</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>InsuranceCardLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AttachInsuranceCardtoDupPT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceCardLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_a_Match.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Records_into_Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_file_with_Patient_3</name>
        <label>Link file with Patient</label>
        <locationX>1154</locationX>
        <locationY>1017</locationY>
        <assignmentItems>
            <assignToReference>InsuranceCardLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AttachInsuranceCardtoPTw_oCT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceCardLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Patient_w_o_CT_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Records_into_loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Id</name>
        <label>Set Contact Id</label>
        <locationX>994</locationX>
        <locationY>896</locationY>
        <assignmentItems>
            <assignToReference>Contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_a_Match.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CT</name>
        <choiceText>CT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CT</stringValue>
        </value>
    </choices>
    <choices>
        <name>MRI</name>
        <choiceText>MRI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MRI</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_a_new_Imaging_Order</name>
        <label>Create a new Imaging Order</label>
        <locationX>1197</locationX>
        <locationY>487</locationY>
        <defaultConnector>
            <targetReference>Find_a_Match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ctOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImageOrderRadio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CTOrderInfo</targetReference>
            </connector>
            <label>ctOrder</label>
        </rules>
        <rules>
            <name>All_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImageOrderRadio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MRI</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ImageOrderRadio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvalidSelection</targetReference>
            </connector>
            <label>All Selected</label>
        </rules>
        <rules>
            <name>mriOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImageOrderRadio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MRI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MRIOrderInfo</targetReference>
            </connector>
            <label>mriOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update</label>
        <locationX>988</locationX>
        <locationY>711</locationY>
        <defaultConnector>
            <targetReference>RecordReivew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New</defaultConnectorLabel>
        <rules>
            <name>Update_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_a_Match</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Id</targetReference>
            </connector>
            <label>Update Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateOrder</name>
        <label>CreateOrder</label>
        <locationX>1626</locationX>
        <locationY>1288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_CT_Order_and_Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImageOrderRadio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CT_Order</targetReference>
            </connector>
            <label>Create CT Order and Patient</label>
        </rules>
        <rules>
            <name>Just_create_patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImageOrderRadio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_a_Match</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>navToContact</targetReference>
            </connector>
            <label>Just create patient</label>
        </rules>
        <rules>
            <name>Just_update_patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImageOrderRadio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_a_Match</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>navToUpdateContact</targetReference>
            </connector>
            <label>Just update patient</label>
        </rules>
        <rules>
            <name>Create_MRI_Order_and_Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImageOrderRadio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MRI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MRI_Order</targetReference>
            </connector>
            <label>Create MRI Order and Patient</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShowOrderReview</name>
        <label>Show Order Review</label>
        <locationX>795</locationX>
        <locationY>865</locationY>
        <defaultConnector>
            <targetReference>Create_Patient_w_o_CT_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Show_Order_Review_Screen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ImageOrderRadio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ImageOrderRadio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MRI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CTOrderReview</targetReference>
            </connector>
            <label>Show Order Review Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wants_Kinomatic</name>
        <label>Wants Kinomatic</label>
        <locationX>633</locationX>
        <locationY>286</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Interested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotInterestedLead</targetReference>
            </connector>
            <label>Not Interested</label>
        </rules>
        <rules>
            <name>Maybe</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maybe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaybeLead</targetReference>
            </connector>
            <label>Maybe</label>
        </rules>
        <rules>
            <name>Yes_Wants_Kinomatic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patient_Demographics</targetReference>
            </connector>
            <label>Yes Wants Kinomatic</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GenderList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ModuleType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Model_Type__c</picklistField>
        <picklistObject>Order_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartialKneeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Partial_Knee_Type__c</picklistField>
        <picklistObject>Order_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PresentedList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Presented__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProcedureSide</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Procedure_Side__c</picklistField>
        <picklistObject>Order_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProcedureSubType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Procedure_Sub_Type__c</picklistField>
        <picklistObject>Order_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProcedureType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Procedure_Type__c</picklistField>
        <picklistObject>Order_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RatingList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rating</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WantsKinomaticList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AffectedBodyPart</name>
        <dataType>String</dataType>
        <expression>IF({!ImageOrderRadio} = {!MRI}, {!AffectedBodyPart_MRI}, {!AffectedBodyPart_CT})</expression>
    </formulas>
    <formulas>
        <name>AffectedBodyPartReview</name>
        <dataType>String</dataType>
        <expression>IF({!ImageOrderRadio} = {!MRI}, {!AffectedBodyPartReview_MRI}, {!AffectedBodyPartReview_CT})</expression>
    </formulas>
    <formulas>
        <name>AffectedSide</name>
        <dataType>String</dataType>
        <expression>IF({!ImageOrderRadio} = {!MRI}, {!AffectedSide_MRI}, {!AffectedSide_CT})</expression>
    </formulas>
    <formulas>
        <name>AffectedSideReview</name>
        <dataType>String</dataType>
        <expression>IF({!ImageOrderRadio} = {!MRI}, {!AffectedSideReview_MRI}, {!AffectedSideReview_CT})</expression>
    </formulas>
    <formulas>
        <name>GetContactId</name>
        <dataType>String</dataType>
        <expression>If( {!ImageOrderRadio} != Null, {!Create_Patient_w_CT_Order}, {!Create_Patient_w_o_CT_Order} )</expression>
    </formulas>
    <formulas>
        <name>GetPatientID</name>
        <dataType>String</dataType>
        <expression>If ({!Update_Contact} = True, {!Find_a_Match.Id}, {!Create_Patient_w_CT_Order})</expression>
    </formulas>
    <formulas>
        <name>ProcedureSubTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!ImageOrderRadio} = {!MRI}, {!MRI_IfKneePleaseSelectAType}, {!CT_IfKneePleaseSelectAType})</expression>
    </formulas>
    <formulas>
        <name>ProcedureSubTypeFormulaReview</name>
        <dataType>String</dataType>
        <expression>IF({!ImageOrderRadio} = {!MRI}, {!IfKneePleaseSelectATypeReview_MRI}, {!IfKneePleaseSelectATypeReview_CT})</expression>
    </formulas>
    <interviewLabel>New Patient Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Patient Intake</label>
    <loops>
        <name>AttachInsuranceCardtoDupPT</name>
        <label>Attach Insurance Card to Dup PT</label>
        <locationX>1738</locationX>
        <locationY>706</locationY>
        <collectionReference>InsuranceCardId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_File_with_Patient_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_from_Loop_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AttachInsuranceCardtoPTw_oCT</name>
        <label>Attach Insurance Card to PT w/o CT</label>
        <locationX>963</locationX>
        <locationY>1097</locationY>
        <collectionReference>InsuranceCardId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_file_with_Patient_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_from_Loop_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AttachInsuranceCardtoPTwCT</name>
        <label>Attach Insurance Card to PT w CT</label>
        <locationX>428</locationX>
        <locationY>1017</locationY>
        <collectionReference>InsuranceCardId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_File_with_Patient</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_from_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Patient_w_CT_Order</name>
        <label>Create Patient w/ CT Order</label>
        <locationX>568</locationX>
        <locationY>1016</locationY>
        <connector>
            <targetReference>AttachInsuranceCardtoPTwCT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ContactCTFault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Acc_Manager__c</field>
            <value>
                <elementReference>AccountManagerReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>OfficeNameReview.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>BirthdateReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailReview.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employer__c</field>
            <value>
                <elementReference>EmployerReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstNameReivew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender</field>
            <value>
                <elementReference>GenderReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastNameReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>CityReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>ZipReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>StateReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>StreetReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>PhoneReview.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Location__c</field>
            <value>
                <elementReference>OfficeLocationReview.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Wants_Both_Knees__c</field>
            <value>
                <elementReference>PatientInquiryWantsBothKnees.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_Office_Network__c</field>
            <value>
                <elementReference>OfficeNameReview.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Holder__c</field>
            <value>
                <stringValue>{!FirstNameReivew} {!LastNameReview}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Group_Number__c</field>
            <value>
                <elementReference>PrimaryGroupNumberReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_Comp__c</field>
            <value>
                <elementReference>PrimaryInsuranceProviderReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_ID__c</field>
            <value>
                <elementReference>PrimaryInsuranceIDReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Insurance_Comp__c</field>
            <value>
                <elementReference>SecondaryInsuranceProviderReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Insurance_ID__c</field>
            <value>
                <elementReference>SecondaryInsuranceIDReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>StatusListReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgeon__c</field>
            <value>
                <elementReference>SurgeonReview.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient_w_o_CT_Order</name>
        <label>Create Patient w/o CT Order</label>
        <locationX>802</locationX>
        <locationY>1098</locationY>
        <connector>
            <targetReference>AttachInsuranceCardtoPTw_oCT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ContactNoCTFault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Acc_Manager__c</field>
            <value>
                <elementReference>AccountManagerReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>OfficeNameReview.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>BirthdateReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailReview.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employer__c</field>
            <value>
                <elementReference>EmployerReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstNameReivew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender</field>
            <value>
                <elementReference>GenderReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastNameReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>CityReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>ZipReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>StateReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>StreetReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>PhoneReview.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Location__c</field>
            <value>
                <elementReference>OfficeLocationReview.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Wants_Both_Knees__c</field>
            <value>
                <elementReference>PatientInquiryWantsBothKnees.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_Office_Network__c</field>
            <value>
                <elementReference>OfficeNameReview.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Holder__c</field>
            <value>
                <stringValue>{!FirstNameReivew} {!LastNameReview}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Group_Number__c</field>
            <value>
                <elementReference>PrimaryGroupNumberReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_Comp__c</field>
            <value>
                <elementReference>PrimaryInsuranceProviderReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_ID__c</field>
            <value>
                <elementReference>PrimaryInsuranceIDReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Insurance_Comp__c</field>
            <value>
                <elementReference>SecondaryInsuranceProviderReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Insurance_ID__c</field>
            <value>
                <elementReference>SecondaryInsuranceIDReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>StatusListReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgeon__c</field>
            <value>
                <elementReference>SurgeonReview.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_from_Loop</name>
        <label>Create Records from Loop</label>
        <locationX>432</locationX>
        <locationY>1354</locationY>
        <connector>
            <targetReference>Kinomatic_Lead</targetReference>
        </connector>
        <inputReference>ContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_from_Loop_1</name>
        <label>Create Records from Loop_1</label>
        <locationX>1740</locationX>
        <locationY>891</locationY>
        <connector>
            <targetReference>DupRecord</targetReference>
        </connector>
        <inputReference>ContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_from_Loop_2</name>
        <label>Create Records from Loop</label>
        <locationX>967</locationX>
        <locationY>1296</locationY>
        <connector>
            <targetReference>Kinomatic_Lead</targetReference>
        </connector>
        <inputReference>ContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CT_Order</name>
        <label>CT Order</label>
        <locationX>1876</locationX>
        <locationY>1418</locationY>
        <connector>
            <targetReference>navToCTOrder</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Visit__c</field>
            <value>
                <elementReference>DateOfVisitReview_CT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnosis__c</field>
            <value>
                <elementReference>DiagnosisReview_CT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height__c</field>
            <value>
                <elementReference>HeightReview_CT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implant_Company__c</field>
            <value>
                <elementReference>ImplantProviderReview_CT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Type__c</field>
            <value>
                <elementReference>ModelTypeReview_CT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OrderNameReview_CT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Notes__c</field>
            <value>
                <elementReference>OrderNotesReview_CT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <stringValue>CT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partial_Knee_Type__c</field>
            <value>
                <elementReference>IfPartialPleaseSelectATypeReview_CT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Name__c</field>
            <value>
                <elementReference>GetPatientID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Side__c</field>
            <value>
                <elementReference>AffectedSideReview_CT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Sub_Type__c</field>
            <value>
                <elementReference>IfKneePleaseSelectATypeReview_CT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Type__c</field>
            <value>
                <elementReference>AffectedBodyPartReview_CT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>WeightReview_CT</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Kinomatic_Lead</name>
        <label>Kinomatic Lead</label>
        <locationX>967</locationX>
        <locationY>1481</locationY>
        <connector>
            <targetReference>ConvertLead</targetReference>
        </connector>
        <inputAssignments>
            <field>Appointment_Date__c</field>
            <value>
                <elementReference>DateOfVisitReview_CT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate__c</field>
            <value>
                <elementReference>BirthdateReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>CityReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>OfficeNameReview.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailReview.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstNameReivew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Folder_Received__c</field>
            <value>
                <elementReference>PatientInquiryFolderReceived.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>GenderReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kinomatic_Appointment__c</field>
            <value>
                <elementReference>PatientInquiryKinomaticAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastNameReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>PhoneReview.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Network__c</field>
            <value>
                <elementReference>OfficeNameReview.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Wants_Both_Knees__c</field>
            <value>
                <elementReference>PatientInquiryWantsBothKnees.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>ZipReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Presented__c</field>
            <value>
                <elementReference>PatientInquiryPresented</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_Comp__c</field>
            <value>
                <elementReference>PrimaryInsuranceProviderReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_ID__c</field>
            <value>
                <elementReference>PrimaryInsuranceIDReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>PatientInquiryRating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Insurance_Comp__c</field>
            <value>
                <elementReference>SecondaryInsuranceProviderReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Insurance_ID__c</field>
            <value>
                <elementReference>SecondaryInsuranceIDReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>StateReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>PatientInquiryWantsKinomatic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>StreetReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgeon__c</field>
            <value>
                <elementReference>SurgeonReview.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgery_Date__c</field>
            <value>
                <elementReference>SurgeryDateReview</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>MaybeLead</name>
        <label>Maybe Lead</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>LeadAssignment2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LeadMaybeFault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Acct_Manager__c</field>
            <value>
                <elementReference>PatientInquiryAccountManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Date__c</field>
            <value>
                <elementReference>PatientInquiryDateOfVisit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>PatientInquiryOfficeLookup.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>PatientInquiryEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>PatientInquiryFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Folder_Received__c</field>
            <value>
                <elementReference>PatientInquiryFolderReceived.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kinomatic_Appointment__c</field>
            <value>
                <elementReference>PatientInquiryKinomaticAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>PatientInquiryLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>PatientInquiryPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Network__c</field>
            <value>
                <elementReference>PatientInquiryOfficeLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Wants_Both_Knees__c</field>
            <value>
                <elementReference>PatientInquiryWantsBothKnees.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Presented__c</field>
            <value>
                <elementReference>PatientInquiryPresented</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>PatientInquiryRating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>PatientInquiryWantsKinomatic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgeon__c</field>
            <value>
                <elementReference>SurgeonAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgery_Date__c</field>
            <value>
                <elementReference>SurgeryDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>MRI_Order</name>
        <label>MRI Order</label>
        <locationX>2025</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>navToMRIOrder</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Visit__c</field>
            <value>
                <elementReference>DateOfVisitReview_MRI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnosis__c</field>
            <value>
                <elementReference>DiagnosisReview_MRI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height__c</field>
            <value>
                <elementReference>HeightReview_MRI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implant_Company__c</field>
            <value>
                <elementReference>ImplantProviderReview_MRI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Type__c</field>
            <value>
                <elementReference>ModelTypeReview_MRI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OrderNameReview_MRI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Notes__c</field>
            <value>
                <elementReference>OrderNotesReview_MRI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <stringValue>MRI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partial_Knee_Type__c</field>
            <value>
                <elementReference>IfPartialPleaseSelectATypeReview_MRI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Name__c</field>
            <value>
                <elementReference>GetPatientID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Side__c</field>
            <value>
                <elementReference>AffectedSideReview_MRI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Sub_Type__c</field>
            <value>
                <elementReference>IfKneePleaseSelectATypeReview_MRI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Type__c</field>
            <value>
                <elementReference>AffectedBodyPartReview_MRI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>WeightReview_MRI</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>NotInterestedLead</name>
        <label>Not Interested Lead</label>
        <locationX>404</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>LeadAssignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LeadNoFault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Acct_Manager__c</field>
            <value>
                <elementReference>PatientInquiryAccountManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Date__c</field>
            <value>
                <elementReference>PatientInquiryDateOfVisit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>PatientInquiryOfficeLookup.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>PatientInquiryFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Folder_Received__c</field>
            <value>
                <elementReference>PatientInquiryFolderReceived.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kinomatic_Appointment__c</field>
            <value>
                <elementReference>PatientInquiryKinomaticAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>PatientInquiryLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Network__c</field>
            <value>
                <elementReference>PatientInquiryOfficeLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Presented__c</field>
            <value>
                <elementReference>PatientInquiryPresented</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>PatientInquiryReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>PatientInquiryWantsKinomatic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgeon__c</field>
            <value>
                <elementReference>SurgeonAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_a_Match</name>
        <label>Find a Match</label>
        <locationX>1207</locationX>
        <locationY>711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientLastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birthdate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Birthdate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SurgeonAccount</name>
        <label>Surgeon Account</label>
        <locationX>496</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PatientInquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Community_User_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1472</locationX>
        <locationY>835</locationY>
        <connector>
            <targetReference>AttachInsuranceCardtoDupPT</targetReference>
        </connector>
        <inputReference>Contact</inputReference>
    </recordUpdates>
    <screens>
        <name>Address</name>
        <label>Address</label>
        <locationX>983</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insurance</targetReference>
        </connector>
        <fields>
            <name>AddressHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Zip</name>
            <dataType>String</dataType>
            <fieldText>Zip</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ContactCTFault</name>
        <label>Fault</label>
        <locationX>570</locationX>
        <locationY>1209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactCTError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Oh no! Something is not right, please go back and verify all the information is correct and/or verify there is no duplicate record.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ContactNoCTFault</name>
        <label>Fault</label>
        <locationX>799</locationX>
        <locationY>1336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactNoCTError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Oh no! Something is not right, please go back and verify all the information is correct and/or verify there is no duplicate record.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CTOrderInfo</name>
        <label>CTOrderInfo</label>
        <locationX>1377</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_a_Match</targetReference>
        </connector>
        <fields>
            <name>CTOrderHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;CT Order Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CTOrderInfo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CTOrderInfo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrderName_CT</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>{!PatientFirstName} {!PatientLastName} CT Order</stringValue>
                    </defaultValue>
                    <fieldText>Order Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DateOfVisit_CT</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>PatientInquiryDateOfVisit</elementReference>
                    </defaultValue>
                    <fieldText>Date of Visit</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Height_CT</name>
                    <dataType>String</dataType>
                    <fieldText>Height</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Weight_CT</name>
                    <dataType>String</dataType>
                    <fieldText>Weight</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Diagnosis_CT</name>
                    <fieldText>Diagnosis</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CTOrderInfo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AffectedBodyPart_CT</name>
                    <choiceReferences>ProcedureType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Affected Body Part</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CT_IfKneePleaseSelectAType</name>
                    <choiceReferences>ProcedureSubType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>If Knee, please select a type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AffectedBodyPart_CT</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Knee</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CT_IfPartialPleaseSelectAType</name>
                    <choiceReferences>PartialKneeType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>If Partial, please select a type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CT_IfKneePleaseSelectAType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Partial</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AffectedSide_CT</name>
                    <choiceReferences>ProcedureSide</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Affected Side</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ModelType_CT</name>
                    <choiceReferences>ModuleType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Model Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ImplantProvider_CT</name>
                    <dataType>String</dataType>
                    <fieldText>Implant Provider</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>OrderNotes_CT</name>
                    <fieldText>Order Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CTOrderReview</name>
        <label>CT Order Review</label>
        <locationX>569</locationX>
        <locationY>863</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Patient_w_CT_Order</targetReference>
        </connector>
        <fields>
            <name>ImagingOrderReviewHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Imaing Order Review&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CTOrderReview_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CTOrderReview_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrderNameReview_CT</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>OrderName_CT</elementReference>
                    </defaultValue>
                    <fieldText>Order Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OrderNameReview_MRI</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>OrderName_MRI</elementReference>
                    </defaultValue>
                    <fieldText>Order Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MRI</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DateOfVisitReview_CT</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DateOfVisit_CT</elementReference>
                    </defaultValue>
                    <fieldText>Date of Visit</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DateOfVisitReview_MRI</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DateOfVisit_MRI</elementReference>
                    </defaultValue>
                    <fieldText>Date of Visit</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MRI</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>WeightReview_CT</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Weight_CT</elementReference>
                    </defaultValue>
                    <fieldText>Weight</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>WeightReview_MRI</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Weight_MRI</elementReference>
                    </defaultValue>
                    <fieldText>Weight</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MRI</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>HeightReview_CT</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Height_CT</elementReference>
                    </defaultValue>
                    <fieldText>Height</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>HeightReview_MRI</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Height_MRI</elementReference>
                    </defaultValue>
                    <fieldText>Height</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MRI</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DiagnosisReview_CT</name>
                    <defaultValue>
                        <stringValue>{!Diagnosis_CT}</stringValue>
                    </defaultValue>
                    <fieldText>Diagnosis</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DiagnosisReview_MRI</name>
                    <defaultValue>
                        <stringValue>{!Diagnosis_MRI}</stringValue>
                    </defaultValue>
                    <fieldText>Diagnosis</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MRI</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CTOrderReview_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AffectedBodyPartReview_CT</name>
                    <choiceReferences>ProcedureType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>AffectedBodyPart_CT</elementReference>
                    </defaultValue>
                    <fieldText>Affected Body Part</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AffectedBodyPartReview_MRI</name>
                    <choiceReferences>ProcedureType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>AffectedBodyPart_MRI</elementReference>
                    </defaultValue>
                    <fieldText>Affected Body Part</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MRI</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AffectedSideReview_CT</name>
                    <choiceReferences>ProcedureSide</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>AffectedSide_CT</elementReference>
                    </defaultValue>
                    <fieldText>Affected Side</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AffectedSideReview_MRI</name>
                    <choiceReferences>ProcedureSide</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>AffectedSide_MRI</elementReference>
                    </defaultValue>
                    <fieldText>Affected Side</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MRI</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IfKneePleaseSelectATypeReview_CT</name>
                    <choiceReferences>ProcedureSubType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CT_IfKneePleaseSelectAType</elementReference>
                    </defaultValue>
                    <fieldText>If Knee, please select a type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CT</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>AffectedBodyPartReview_CT</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Knee</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IfKneePleaseSelectATypeReview_MRI</name>
                    <choiceReferences>ProcedureSubType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>MRI_IfKneePleaseSelectAType</elementReference>
                    </defaultValue>
                    <fieldText>If Knee, please select a type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MRI</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>AffectedBodyPartReview_MRI</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Knee</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IfPartialPleaseSelectATypeReview_CT</name>
                    <choiceReferences>PartialKneeType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CT_IfPartialPleaseSelectAType</elementReference>
                    </defaultValue>
                    <fieldText>If Partial, please select a type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CT</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>IfKneePleaseSelectATypeReview_CT</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Partial</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IfPartialPleaseSelectATypeReview_MRI</name>
                    <choiceReferences>PartialKneeType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>MRI_IfPartialPleaseSelectAType</elementReference>
                    </defaultValue>
                    <fieldText>If Partial, please select a type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MRI</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>IfKneePleaseSelectATypeReview_MRI</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Partial</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ModelTypeReview_CT</name>
                    <choiceReferences>ModuleType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ModelType_CT</elementReference>
                    </defaultValue>
                    <fieldText>Model Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ModelTypeReview_MRI</name>
                    <choiceReferences>ModuleType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ModelType_MRI</elementReference>
                    </defaultValue>
                    <fieldText>Model Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MRI</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ImplantProviderReview_CT</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ImplantProvider_CT</elementReference>
                    </defaultValue>
                    <fieldText>Implant Provider</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ImplantProviderReview_MRI</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ImplantProvider_MRI</elementReference>
                    </defaultValue>
                    <fieldText>Implant Provider</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MRI</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OrderNotesReview_CT</name>
                    <defaultValue>
                        <stringValue>{!OrderNotes_CT}</stringValue>
                    </defaultValue>
                    <fieldText>Order Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OrderNotesReview_MRI</name>
                    <defaultValue>
                        <stringValue>{!OrderNotes_MRI}</stringValue>
                    </defaultValue>
                    <fieldText>Order Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImageOrderRadio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MRI</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DupRecord</name>
        <label>DupRecord</label>
        <locationX>1741</locationX>
        <locationY>1041</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateOrder</targetReference>
        </connector>
        <fields>
            <name>RecordExists</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Record Already Exists&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insurance</name>
        <label>Insurance</label>
        <locationX>1085</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OrderChoice</targetReference>
        </connector>
        <fields>
            <name>InsuranceInfoHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Insurance Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Insurance_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Insurance_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PrimaryInsuranceID</name>
                    <dataType>String</dataType>
                    <fieldText>Primary Insurance ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PrimaryGroupNumber</name>
                    <dataType>String</dataType>
                    <fieldText>Primary Group Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PrimaryInsuranceProvider</name>
                    <dataType>String</dataType>
                    <fieldText>Primary Insurance Provider</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Insurance_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SecondaryInsuranceID</name>
                    <dataType>String</dataType>
                    <fieldText>Secondary Insurance ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SecondaryInsuranceProvider</name>
                    <dataType>String</dataType>
                    <fieldText>Secondary Insurance Provider</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>InsuranceCardUL</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Insurance Cards</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>InsuranceCardId</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InvalidSelection</name>
        <label>Invalid Selection</label>
        <locationX>1333</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OrderChoice</targetReference>
        </connector>
        <fields>
            <name>SelectOne</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(247, 4, 4); font-size: 16px;&quot;&gt;Invalid Selection: You must only select one option.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;MRI Order: Yes&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;CT Order: Yes&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LeadMaybeFault</name>
        <label>Fault</label>
        <locationX>535</locationX>
        <locationY>633</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LeadMaybeError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Oh no! Something is not right, please go back and verify all the information is correct and/or verify there is no duplicate record.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LeadNoFault</name>
        <label>Fault</label>
        <locationX>246</locationX>
        <locationY>178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LeadNoError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Oh no! Something is not right, please go back and verify all the information is correct and/or verify there is no duplicate record.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MRIOrderInfo</name>
        <label>MRIOrderInfo</label>
        <locationX>1030</locationX>
        <locationY>485</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_a_Match</targetReference>
        </connector>
        <fields>
            <name>MRIOrderHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;MRI Order Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MRIOrderInfo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MRIOrderInfo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrderName_MRI</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>{!PatientFirstName} {!PatientLastName} MRI Order</stringValue>
                    </defaultValue>
                    <fieldText>Order Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DateOfVisit_MRI</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>PatientInquiryDateOfVisit</elementReference>
                    </defaultValue>
                    <fieldText>Date of Visit</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Height_MRI</name>
                    <dataType>String</dataType>
                    <fieldText>Height</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Weight_MRI</name>
                    <dataType>String</dataType>
                    <fieldText>Weight</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Diagnosis_MRI</name>
                    <fieldText>Diagnosis</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MRIOrderInfo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AffectedBodyPart_MRI</name>
                    <choiceReferences>ProcedureType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Affected Body Part</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MRI_IfKneePleaseSelectAType</name>
                    <choiceReferences>ProcedureSubType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>If Knee, please select a type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AffectedBodyPart_MRI</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Knee</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>MRI_IfPartialPleaseSelectAType</name>
                    <choiceReferences>PartialKneeType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>If Partial, please select a type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>MRI_IfKneePleaseSelectAType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Partial</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AffectedSide_MRI</name>
                    <choiceReferences>ProcedureSide</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Affected Side</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ModelType_MRI</name>
                    <choiceReferences>ModuleType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Model Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ImplantProvider_MRI</name>
                    <dataType>String</dataType>
                    <fieldText>Implant Provider</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>OrderNotes_MRI</name>
                    <fieldText>Order Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OrderChoice</name>
        <label>Order Choice</label>
        <locationX>1207</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_a_new_Imaging_Order</targetReference>
        </connector>
        <fields>
            <name>ImagingChoiceHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Create a new Imaging Order?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ImageOrderRadio</name>
            <choiceReferences>CT</choiceReferences>
            <choiceReferences>MRI</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Image Order</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Patient_Demographics</name>
        <label>Patient Demographics</label>
        <locationX>870</locationX>
        <locationY>285</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Address</targetReference>
        </connector>
        <fields>
            <name>PatientDemoHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Patient Demographic&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Patient_Demographics_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Patient_Demographics_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PatientFirstName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PatientInquiryFirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PatientLastName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PatientInquiryLastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Birthdate</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Gender</name>
                    <choiceReferences>GenderList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>(xxx) xxx-xxxx</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>PatientInquiryPhone.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>PatientInquiryEmail.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Patient_Demographics_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StatusList</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Active</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>OfficeName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Office Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>SurgeonAccount.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>OfficeLocation</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Office_Location__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Office Location</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>SurgeonAccount.Main_Office_Location__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Surgeon</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Surgeon__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Surgeon</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>SurgeonAccount.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Surgery_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>SurgeryDate</elementReference>
                    </defaultValue>
                    <fieldText>Surgery Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AccountManager</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PatientInquiryAccountManager</elementReference>
                    </defaultValue>
                    <fieldText>Account Manager</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Sales Rep Initials (3 or less characters)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Length must be less then 3 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!AccountManager}) &lt;= 3</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Employer</name>
                    <dataType>String</dataType>
                    <fieldText>Employer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PatientInquiry</name>
        <label>Patient Inquiry</label>
        <locationX>642</locationX>
        <locationY>133</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Wants_Kinomatic</targetReference>
        </connector>
        <fields>
            <name>PatientInquiryDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Patient Inquiry&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PatientInquiry_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PatientInquiry_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PatientInquiryFirstName</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PatientInquiryLastName</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PatientInquiryPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>(xxx) xxx-xxxx</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Maybe</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PatientInquiryOfficeLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Office_Network__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Office Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>SurgeonAccount.Account.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Maybe</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PatientInquiryAccountManager</name>
                    <dataType>String</dataType>
                    <fieldText>Account Manager</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PatientInquiry_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PatientInquiryDateOfVisit</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Date of Visit</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PatientInquiryWantsKinomatic</name>
                    <choiceReferences>WantsKinomaticList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>New</stringValue>
                    </defaultValue>
                    <fieldText>Wants Kinomatic?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PatientInquiryWantsBothKnees</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Patient Wants Both Knees</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Maybe</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SurgeryDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Surgery Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Maybe</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PatientInquiryEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Maybe</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PatientInquiryReason</name>
                    <choiceReferences>ReasonList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PatientInquiryRating</name>
                    <choiceReferences>RatingList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Rating</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Maybe</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>PatientInquiryWantsKinomatic</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PatientInquiry_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PatientInquiry_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PatientInquiryFolderReceived</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Did the patient receive a Kinomatic Folder?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PatientInquiry_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PatientInquiryKinomaticAppointment</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Kinomatic Appointment</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PatientInquiryFolderReceived.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PatientInquiryPresented</name>
                    <choiceReferences>PresentedList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Presented</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PatientInquiryFolderReceived.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordReivew</name>
        <label>RecordReview</label>
        <locationX>803</locationX>
        <locationY>713</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ShowOrderReview</targetReference>
        </connector>
        <fields>
            <name>ReviewHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Record Review&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PatientDemoReviewHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Patient Demographics&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RecordReivew_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RecordReivew_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FirstNameReivew</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PatientFirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LastNameReview</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PatientLastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>BirthdateReview</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Birthdate</elementReference>
                    </defaultValue>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>GenderReview</name>
                    <choiceReferences>GenderList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Gender</elementReference>
                    </defaultValue>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PhoneReview</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Phone.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>(xxx) xxx-xxxx</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>EmailReview</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Email.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RecordReivew_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StatusListReview</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StatusList</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>OfficeNameReview</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Office Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>OfficeName.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>OfficeLocationReview</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Office_Location__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Office Location</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>OfficeLocation.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SurgeonReview</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Surgeon__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Surgeon</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Surgeon.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SurgeryDateReview</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Surgery_Date</elementReference>
                    </defaultValue>
                    <fieldText>SurgeryDateReview</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AccountManagerReview</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>AccountManager</elementReference>
                    </defaultValue>
                    <fieldText>Account Manager</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>EmployerReview</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Employer</elementReference>
                    </defaultValue>
                    <fieldText>Employer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AddressReviewHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Address Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RecordReivew_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RecordReivew_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StreetReview</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Street</elementReference>
                    </defaultValue>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CityReview</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>City</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RecordReivew_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StateReview</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>State</elementReference>
                    </defaultValue>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ZipReview</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Zip</elementReference>
                    </defaultValue>
                    <fieldText>Zip</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>InsuranceReviewHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Insurance Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RecordReivew_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RecordReivew_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PrimaryInsuranceIDReview</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryInsuranceID</elementReference>
                    </defaultValue>
                    <fieldText>Primary Insurance ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PrimaryGroupNumberReview</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryGroupNumber</elementReference>
                    </defaultValue>
                    <fieldText>Primary Group Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PrimaryInsuranceProviderReview</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryInsuranceProvider</elementReference>
                    </defaultValue>
                    <fieldText>Primary Insurance Provider</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RecordReivew_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SecondaryInsuranceIDReview</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SecondaryInsuranceID</elementReference>
                    </defaultValue>
                    <fieldText>Secondary Insurance ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SecondaryInsuranceProviderReview</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SecondaryInsuranceProvider</elementReference>
                    </defaultValue>
                    <fieldText>Secondary Insurance Provider</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>57</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SurgeonAccount</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>InsuranceCardId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InsuranceCardLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
