force-app/main/default/flows/New_CT_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>Creates new Opportunity/Contact Role on Order Submission Creation</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>Today() + 60</expression>
    </formulas>
    <interviewLabel>New CT Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New CT Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Opp</name>
        <label>New Opp</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Set_Contact_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>Acc_Manager__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Acc_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Household_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birth_Date__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Birthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consult_Date__c</field>
            <value>
                <elementReference>$Record.Date_of_Visit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Office_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Number__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Primary_Group_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implant_Company__c</field>
            <value>
                <elementReference>$Record.Implant_Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Type__c</field>
            <value>
                <elementReference>$Record.Model_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.Patient_Name__r.Name}: Surgery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OfficeNetwork__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Submission__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partial_Knee_Type__c</field>
            <value>
                <elementReference>$Record.Partial_Knee_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_Sponsor__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Employer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Holder__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Policy_Holder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_Comp__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Primary_Insurance_Comp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_ID__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Primary_Insurance_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Side__c</field>
            <value>
                <elementReference>$Record.Procedure_Side__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Sub_Type__c</field>
            <value>
                <elementReference>$Record.Procedure_Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Type__c</field>
            <value>
                <elementReference>$Record.Procedure_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>surgeryOppRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Insurance_Comp__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Secondary_Insurance_Comp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Insurance_ID__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Secondary_Insurance_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Awaiting Deposit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgeon_Partner_User__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Surgeon__r.Community_User_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgeon__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Surgeon__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgery_Date__c</field>
            <value>
                <elementReference>$Record.Patient_Name__r.Surgery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Set_Contact_Role</name>
        <label>Set Contact Role</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>VR_Module</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Patient_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>New_Opp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>VR_Module</name>
        <label>VR Module</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Implant_Company__c</field>
            <value>
                <elementReference>$Record.Implant_Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module_Type__c</field>
            <value>
                <elementReference>$Record.Model_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>New_Opp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Name__c</field>
            <value>
                <elementReference>$Record.Patient_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>VR_Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Surgery_Opp_Record_Type</name>
        <label>Surgery Opp Record Type</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surgery Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>surgeryOppRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Surgery_Opp_Record_Type</targetReference>
        </connector>
        <object>Order_Submission__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>surgeryOppRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
