force-app/main/default/flows/Update_to_Surgery_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Image_Order</name>
        <label>Send Image Order</label>
        <locationX>50</locationX>
        <locationY>2448</locationY>
        <actionName>InvocableImageOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remove_Email_Addresses</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OpportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PatientId</name>
            <value>
                <elementReference>$Record.Order_Submission__r.Patient_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendAttachment</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SurgeonId</name>
            <value>
                <elementReference>$Record.Surgeon__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>toAddresses</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableImageOrder</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Surgical_Plan_Alert</name>
        <label>Surgical Plan Alert</label>
        <locationX>50</locationX>
        <locationY>3672</locationY>
        <actionName>invocableSurgicalPlanAlert</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remove_Address</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OpportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendAttachment</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>toAddresses</elementReference>
            </value>
        </inputParameters>
        <nameSegment>invocableSurgicalPlanAlert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Email_Addresses</name>
        <label>Assign Email Addresses</label>
        <locationX>50</locationX>
        <locationY>3564</locationY>
        <assignmentItems>
            <assignToReference>toAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Brian@kinomatic.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>toAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>engineering@kinomatic.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Surgical_Plan_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record</name>
        <label>Assign Record</label>
        <locationX>270</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>rVarImagingOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Names</name>
        <label>Assign Task Names</label>
        <locationX>798</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>TaskNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X2_Day_Scheduled_Loop.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2_Day_Scheduled_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Address</name>
        <label>Remove Address</label>
        <locationX>50</locationX>
        <locationY>3780</locationY>
        <assignmentItems>
            <assignToReference>toAddresses</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>toAddresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Follow_Up_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Email_Addresses</name>
        <label>Remove Email Addresses</label>
        <locationX>50</locationX>
        <locationY>2556</locationY>
        <assignmentItems>
            <assignToReference>toAddresses</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>toAddresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Surgery_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Assignment</name>
        <label>Task Assignment</label>
        <locationX>402</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>TaskNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_Loop.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Imaging_Order_Review_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>To_Address</name>
        <label>To Address</label>
        <locationX>50</locationX>
        <locationY>2340</locationY>
        <assignmentItems>
            <assignToReference>toAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CT_Facility__r.Order_Receiving_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Image_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X2_Week_Task_Assingment</name>
        <label>X2 Week Task Assingment</label>
        <locationX>1326</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>TaskNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X2_Week_Scheduled_Loop.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2_Week_Scheduled_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CSV_Check</name>
        <label>CSV Check</label>
        <locationX>1238</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Welcome_Letter_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSV_has_not_been_sent</name>
            <conditionLogic>(NOT(1))</conditionLogic>
            <conditions>
                <leftValueReference>TaskNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Send CSV File to PT Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSV_Task</targetReference>
            </connector>
            <label>CSV has not been sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>CT_Scheduled_Check</name>
        <label>CT Scheduled Check</label>
        <locationX>182</locationX>
        <locationY>3048</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Paid_in_Full</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CT_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CT_Scheduled__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CT_Scheduled__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CT_Invoice_Date</targetReference>
            </connector>
            <label>CT Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deposit_Received</name>
        <label>Deposit Received</label>
        <locationX>182</locationX>
        <locationY>2232</locationY>
        <defaultConnector>
            <targetReference>Updated_Surgery_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Received</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deposit_amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Remaining_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Deposit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order CT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CT_Facility__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CT_Facility__r.Order_Receiving_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Address</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Received</label>
        </rules>
    </decisions>
    <decisions>
        <name>Imaging_Order_Complete</name>
        <label>Imaging Order Complete</label>
        <locationX>182</locationX>
        <locationY>1632</locationY>
        <defaultConnector>
            <targetReference>Update_Facility_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rVarImagingOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CT_Ordered_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Completed Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Imaging_Order_Review_Check</name>
        <label>Imaging Order Review Check</label>
        <locationX>402</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>Task_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Record_to_Var</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_Loop.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imaging Order Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record</targetReference>
            </connector>
            <label>Assign Record to Var</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Paid_in_Full</name>
        <label>Opportunity Paid in Full</label>
        <locationX>182</locationX>
        <locationY>3348</locationY>
        <defaultConnector>
            <targetReference>Get_Follow_Up_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paid_in_Full</name>
            <conditionLogic>1 AND (2 OR 3 OR 5) AND (NOT(4))</conditionLogic>
            <conditions>
                <leftValueReference>PaidinFullCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Amount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Need Surgical Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sign Up for PT App</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Build Surgical Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Surgery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Surgical_Plan</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Paid in Full</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Collection_Checks</name>
        <label>Payment Collection Check</label>
        <locationX>1238</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>CSV_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_collection_has_not_been_created</name>
            <conditionLogic>(NOT(1))</conditionLogic>
            <conditions>
                <leftValueReference>TaskNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Payment Collection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Collection</targetReference>
            </connector>
            <label>Payment collection has not been created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Second_Knee_Check</name>
        <label>Second Knee Check</label>
        <locationX>1766</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Surgery_Complete_and_Wants_Second</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgery Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Submission__r.Patient_Name__r.Patient_Wants_Both_Knees__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Second_Knee_Followup</targetReference>
            </connector>
            <label>First Surgery Complete and Wants Second</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Surgical_Plan_Check</name>
        <label>Send Surgical Plan Check</label>
        <locationX>710</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plan_has_not_been_sent</name>
            <conditionLogic>(NOT(1))</conditionLogic>
            <conditions>
                <leftValueReference>TaskNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Send Surgical Plan to Physician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Surgical_Plan</targetReference>
            </connector>
            <label>Plan has not been sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Surgery_Won</name>
        <label>Surgery Won</label>
        <locationX>182</locationX>
        <locationY>4080</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_changed_to_closed_won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgery Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Follow_Up_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follow_Up_Opp_Record_Type</targetReference>
            </connector>
            <label>Stage changed to closed won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Facility_Email</name>
        <label>Update Facility Email</label>
        <locationX>182</locationX>
        <locationY>1932</locationY>
        <defaultConnector>
            <targetReference>Deposit_Received</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Facility_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CT_Facility__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email</targetReference>
            </connector>
            <label>Facility is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updated_Surgery_Date</name>
        <label>Updated Surgery Date</label>
        <locationX>182</locationX>
        <locationY>2748</locationY>
        <defaultConnector>
            <targetReference>CT_Scheduled_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Surgery_Date_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Surgery_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Surgery Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Close_Date</targetReference>
            </connector>
            <label>Surgery Date is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Welcome_Letter_Check</name>
        <label>Welcome Letter Check</label>
        <locationX>1238</locationX>
        <locationY>1284</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Welcome_letter_has_not_been_sent</name>
            <conditionLogic>(NOT(1))</conditionLogic>
            <conditions>
                <leftValueReference>TaskNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Send PT Welcome Letter to Patient</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Letter_Task</targetReference>
            </connector>
            <label>Welcome letter has not been sent</label>
        </rules>
    </decisions>
    <description>Handles the logic and field updates when an Opportunity is updated.</description>
    <environments>Default</environments>
    <formulas>
        <name>FollowUpCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Surgery_Date__c} + 122</expression>
    </formulas>
    <formulas>
        <name>PaidinFullCheck</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Deposit_amount__c} + {!$Record.Remaining_Payment__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Sets the due date for the payment collection task</description>
        <name>PaymentCollectionDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Surgery_Date__c} - 14</expression>
    </formulas>
    <formulas>
        <description>Sets the reminder date for the payment collection task</description>
        <name>PaymentCollectionReminderDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.Surgery_Date__c} - 21)</expression>
    </formulas>
    <formulas>
        <description>Sets the due date for the surgical plan task</description>
        <name>SurgicalPlanDueDate</name>
        <dataType>Date</dataType>
        <expression>Today() + 7</expression>
    </formulas>
    <formulas>
        <description>Sets the reminder date for the surgical plan task</description>
        <name>SurgicalPlanReminderDate</name>
        <dataType>DateTime</dataType>
        <expression>Now() + 5</expression>
    </formulas>
    <formulas>
        <name>WelcomeLetterReminderDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 3</expression>
    </formulas>
    <formulas>
        <name>X14DaysTillSurgery</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Surgery_Date__c} - 14</expression>
    </formulas>
    <formulas>
        <name>X2DaysTillSurgery</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Surgery_Date__c} - 2</expression>
    </formulas>
    <interviewLabel>Update to Surgery Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update to Surgery Opportunities</label>
    <loops>
        <name>Task_Loop</name>
        <label>Task Loop</label>
        <locationX>182</locationX>
        <locationY>924</locationY>
        <collectionReference>Get_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Task_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Surgical_Model_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>X2_Day_Scheduled_Loop</name>
        <label>X2 Day Scheduled Loop</label>
        <locationX>710</locationX>
        <locationY>384</locationY>
        <collectionReference>X2_Day_Scheduled_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Surgical_Plan_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>X2_Week_Scheduled_Loop</name>
        <label>X2 Week Scheduled Loop</label>
        <locationX>1238</locationX>
        <locationY>384</locationY>
        <collectionReference>X2_Week_Scheduled_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>X2_Week_Task_Assingment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Payment_Collection_Checks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Contact_Role</name>
        <label>Contact Role</label>
        <locationX>50</locationX>
        <locationY>4404</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Follow_Up_Opp</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Follow_Up_Opp</name>
        <label>Create Follow Up Opp</label>
        <locationX>50</locationX>
        <locationY>4296</locationY>
        <connector>
            <targetReference>Contact_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>Acc_Manager__c</field>
            <value>
                <elementReference>$Record.Acc_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birth_Date__c</field>
            <value>
                <elementReference>$Record.Birth_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>FollowUpCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.Patient_Name__c} Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Submission__c</field>
            <value>
                <elementReference>$Record.Order_Submission__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_COO_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Side__c</field>
            <value>
                <elementReference>$Record.Procedure_Side__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Sub_Type__c</field>
            <value>
                <elementReference>$Record.Procedure_Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Type__c</field>
            <value>
                <elementReference>$Record.Procedure_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>followupOppRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>4 Week Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgeon__c</field>
            <value>
                <elementReference>$Record.Surgeon__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgery_Date__c</field>
            <value>
                <elementReference>$Record.Surgery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgery_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CSV_Task</name>
        <label>CSV Task</label>
        <locationX>1106</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Welcome_Letter_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Lookup__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send CSV File to PT Partner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Order_Submission__r.Patient_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates the payment collection task</description>
        <name>Payment_Collection</name>
        <label>Payment Collection</label>
        <locationX>1106</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>CSV_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>PaymentCollectionDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Lookup__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>PaymentCollectionReminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Payment Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Order_Submission__r.Patient_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Second_Knee_Followup</name>
        <label>Second Knee Followup</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>PaymentCollectionDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Lookup__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow-up with patient for their second knee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Order_Submission__r.Patient_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates the reminder to send the surgical plan to the physician</description>
        <name>Send_Surgical_Plan</name>
        <label>Send Surgical Plan</label>
        <locationX>578</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Lookup__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send Surgical Plan to Physician</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Order_Submission__r.Patient_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates the surgical plan task</description>
        <name>Surgical_Plan</name>
        <label>Surgical Plan</label>
        <locationX>50</locationX>
        <locationY>3456</locationY>
        <connector>
            <targetReference>Assign_Email_Addresses</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>SurgicalPlanDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Lookup__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_COO_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>SurgicalPlanReminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Build Surgical Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Order_Submission__r.Patient_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Welcome_Letter_Task</name>
        <label>Welcome Letter Task</label>
        <locationX>1106</locationX>
        <locationY>1392</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Lookup__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>WelcomeLetterReminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send PT Welcome Letter to Patient</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Order_Submission__r.Patient_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Follow_Up_Opp_Record_Type</name>
        <label>Follow Up Opp Record Type</label>
        <locationX>50</locationX>
        <locationY>4188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Follow_Up_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow Up</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>followupOppRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_COO_Role</name>
        <label>Get COO Role</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_COO_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Director_of_Operations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_COO_User</name>
        <label>Get COO User</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Naming_Convention</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_COO_Role.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Follow_Up_Opp</name>
        <label>Get Follow Up Opp</label>
        <locationX>182</locationX>
        <locationY>3972</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Surgery_Won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Surgery_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Child_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book</name>
        <label>Get Price Book</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetModelProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kinomatic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Surgical_Model_Line_Item</name>
        <label>Get Surgical Model Line Item</label>
        <locationX>182</locationX>
        <locationY>1524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Imaging_Order_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetModelProduct.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>182</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the model product</description>
        <name>GetModelProduct</name>
        <label>Get Model Product</label>
        <locationX>182</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kinomatic Surgical Model</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X2_Day_Scheduled_Tasks</name>
        <label>X2 Day Scheduled Tasks</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X2_Day_Scheduled_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X2_Week_Scheduled_Tasks</name>
        <label>X2 Week Scheduled Tasks</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X2_Week_Scheduled_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Sets the naming convention for the opportunity</description>
        <name>Opp_Naming_Convention</name>
        <label>Opp Naming Convention</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Get_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Opp_Naming_Convention__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Opp_Naming_Convention__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_CT_Ordered_Date</name>
        <label>Set CT Ordered Date</label>
        <locationX>50</locationX>
        <locationY>1740</locationY>
        <connector>
            <targetReference>Update_Facility_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>CT_Ordered__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets the close date to the surgery date</description>
        <name>Update_Close_Date</name>
        <label>Update Close Date</label>
        <locationX>50</locationX>
        <locationY>2856</locationY>
        <connector>
            <targetReference>CT_Scheduled_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Surgery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CT_Invoice_Date</name>
        <label>Update CT Invoice Date</label>
        <locationX>50</locationX>
        <locationY>3156</locationY>
        <connector>
            <targetReference>Opportunity_Paid_in_Full</targetReference>
        </connector>
        <inputAssignments>
            <field>CT_Invoice__c</field>
            <value>
                <elementReference>$Record.CT_Scheduled__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email</name>
        <label>Update Email</label>
        <locationX>50</locationX>
        <locationY>2040</locationY>
        <connector>
            <targetReference>Deposit_Received</targetReference>
        </connector>
        <inputAssignments>
            <field>Facility_Email__c</field>
            <value>
                <elementReference>$Record.CT_Facility__r.Order_Receiving_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_COO_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125Y000002Dz2MQAS</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X2_Days_Prior_to_Surgery</name>
            <connector>
                <targetReference>X2_Day_Scheduled_Tasks</targetReference>
            </connector>
            <label>2 Days Prior to Surgery</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Surgery_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_Weeks_Prior_to_Surgery</name>
            <connector>
                <targetReference>X2_Week_Scheduled_Tasks</targetReference>
            </connector>
            <label>2 Weeks Prior to Surgery</label>
            <offsetNumber>-14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Surgery_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>x_time_After_Surgery</name>
            <connector>
                <targetReference>Second_Knee_Check</targetReference>
            </connector>
            <label>x time After Surgery</label>
            <offsetNumber>14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Surgery_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>holds the BCC addresses</description>
        <name>BCCAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>holds the CC addresses</description>
        <name>CCAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>followupOppRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentCollectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rVarImagingOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rVarImagingProtocol</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>TaskNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>holds the to Addresses</description>
        <name>toAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
